<!--
<form action="addRecord.php" method="post" class="main_form">
	<span>ДОБАВИТЬ КОММЕНТАРИЙ</span> <br><br>
	Имя пользователя:<br><input type="text" name="username"><br>
	Сообщение:<br>
	<textarea name="message" rows="7" placeholder="Введите комменатрий"></textarea>
	<br>
	<input type="submit" value="Отправить сообщение">
</form>
-->
<div class="container-fluid questions">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<form action="addRecord.php" method="post" class="main_form">
				<div class="row">
					<div class="col-md-12">
						<span>ДОБАВИТЬ КОММЕНТАРИЙ</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Имя пользователя:</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="username"/>
					</div>
				</div>
				<div>
					<div class="col-md-12">
						<textarea name="message" placeholder="Введите комменатрий"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input class="button" type='submit' value="Отправить" />
					</div>
				</div>
			</form>
	</div>
</div>
</div>